---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Liste des ateliers relatifs au climat à proximité de Vitré"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/icons/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="m-2">
    <slot />
  </body>
</html>
<style is:global></style>
